@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --radius: 0.5rem;
  --background: hsl(188 63% 98%);
  --foreground: hsl(188 58% 0%);
  --card: hsl(188 63% 97%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(188 63% 97%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(188 100% 47%);
  --primary-foreground: hsl(188 100% 7%);
  --secondary: hsl(188 8% 90%);
  --secondary-foreground: hsl(188 8% 30%);
  --muted: hsl(188 40% 92%);
  --muted-foreground: hsl(188 9% 30%);
  --accent: hsl(188 15% 84%);
  --accent-foreground: hsl(188 15% 24%);
  --destructive: hsl(3 91% 28%);
  --destructive-foreground: hsl(3 91% 88%);
  --border: hsl(188 3% 91%);
  --input: hsl(188 3% 91%);
  --ring: hsl(188 100% 47%);
  --chart-1: hsl(188 100% 47%);
  --chart-2: hsl(188 8% 90%);
  --chart-3: hsl(188 15% 84%);
  --chart-4: hsl(188 8% 93%);
  --chart-5: hsl(188 103% 47%);
  --sidebar: hsl(188 63% 97%);
  --sidebar-foreground: hsl(188 58% 0%);
  --sidebar-primary: hsl(188 100% 47%);
  --sidebar-primary-foreground: hsl(188 100% 7%);
  --sidebar-accent: hsl(188 15% 84%);
  --sidebar-accent-foreground: hsl(188 15% 24%);
  --sidebar-border: hsl(188 3% 91%);
  --sidebar-ring: hsl(188 100% 47%);
}

.dark {
  --background: hsl(188 50% 3%);
  --foreground: hsl(188 13% 98%);
  --card: hsl(188 50% 4%);
  --card-foreground: hsl(188 13% 99%);
  --popover: hsl(188 50% 4%);
  --popover-foreground: hsl(188 13% 99%);
  --primary: hsl(188 100% 47%);
  --primary-foreground: hsl(188 100% 7%);
  --secondary: hsl(188 12% 10%);
  --secondary-foreground: hsl(188 12% 70%);
  --muted: hsl(188 40% 8%);
  --muted-foreground: hsl(188 9% 70%);
  --accent: hsl(188 19% 19%);
  --accent-foreground: hsl(188 19% 79%);
  --destructive: hsl(3 91% 51%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(188 3% 14%);
  --input: hsl(188 3% 14%);
  --ring: hsl(188 100% 47%);
  --chart-1: hsl(188 100% 47%);
  --chart-2: hsl(188 12% 10%);
  --chart-3: hsl(188 19% 19%);
  --chart-4: hsl(188 12% 13%);
  --chart-5: hsl(188 103% 47%);
  --sidebar: hsl(188 50% 4%);
  --sidebar-foreground: hsl(188 13% 98%);
  --sidebar-primary: hsl(188 100% 47%);
  --sidebar-primary-foreground: hsl(188 100% 7%);
  --sidebar-accent: hsl(188 19% 19%);
  --sidebar-accent-foreground: hsl(188 19% 79%);
  --sidebar-border: hsl(188 3% 14%);
  --sidebar-ring: hsl(188 100% 47%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
